html {
    background-color:#b9b4ff;
}
.container {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #c1c1c1;
    background-color: white;
    color:#4c4c4c;
    margin: 100px auto;
    padding:10px 20px;
    width: 300px;
    border-radius:10px;
    
}

.buddyName {
    background-color: #00bcd4;
    color: white;
    padding: 3px 6px;
    border-radius: 20px;
}
h1 {
    color:#ffce3b;
    text-align: center;
    margin-top:0px;
}
@media only screen and (max-width: 600px) {
    .container {
        margin: 50% auto;
        padding:10px 20px;
        width: 80%;
        border-radius:10px;
        
    }
    
    .buddyName {
        padding: 3px 6px;
        border-radius: 20px;
    }
    h1 {
        font-size: 2em;
        margin-top:0px;
    }
    h2 {
        font-size:1.3em;
    }
    p {
        font-size:1em;
    }
}
